<link rel="stylesheet" href="/web/static/css/elements.css">
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

<div class="modal" id="articleCreateModal">
    <div class="modal-content article-create-modal">
        <span class="modal-close" onclick="closeAllModals()">✖</span>
        <h2 class="modal-title" id="modal-title-text">Создание статьи</h2>

        <div class="modal-body" style="margin-bottom: 1rem;">
            <div style="display: flex; gap: 2rem; align-items: flex-start; justify-content: space-between; flex-wrap: wrap;">
                <!-- Левая колонка: Заголовок и описание -->
                <div style="flex: 1; min-width: 200px;">
                    <input type="text" id="article-title" placeholder="Заголовок" style="width: 100%; margin-bottom: 0.5rem;">
                    <textarea id="article-short-desc" placeholder="Краткое описание" rows="3" style="width: 100%;"></textarea>
                </div>

                <!-- Правая колонка: Превью и кнопка -->
                <div style="display: flex; flex-direction: column">
                    <label for="article-image-upload" class="accent-btn btn-small" style="margin-bottom: 0.5rem;">Загрузить превью</label>
                    <input type="file" id="article-image-upload" accept="image/*" style="display: none;">
                    <img id="article-image-preview" src="/web/static/img/primer2.jpg"
                         style="width: 120px; object-fit: cover; border: 1px solid #ccc; border-radius: .5rem;">
                </div>
            </div>
            <div id="editor-container" style="height: 300px;"></div>

            <div class="modal-actions">
                <button id="publish-article-btn" class="accent-btn btn-standard">Опубликовать</button>
                <button class="primary-btn btn-standard" onclick="this.closest('.modal').remove()">Отмена</button>
            </div>
        </div>
    </div>
</div>
