<div id="authModal" class="modal">
    <div class="modal-content">
        <span class="modal-close" onclick="closeAllModals()">✖</span>
        <div class="form-toggle">
            <div class="form-toggle-item item-1" onclick="showForm('login')">
                <input id="btn-login" type="radio" name="radio" value="log" checked>
                <label for="btn-login">Вход</label>
            </div>
            <div class="form-toggle-item item-2" onclick="showForm('register')">
                <input id="btn-register" type="radio" name="radio" value="reg">
                <label for="btn-register">Регистрация</label>
            </div>
        </div>

        <!-- Авторизация -->
        <form id="loginForm">
            <input type="email" placeholder="Логин" name="email" required />
            <input type="password" placeholder="Пароль" name="password" required />
            <label style="user-select: none" class="checkbox-label">
                <input  type="checkbox" name="remember" />
                Запомнить меня
            </label>
            <button type="submit" class="submit-btn">Войти</button>
        </form>

        <!-- Регистрация -->
        <form id="registerForm" style="display: none;">
            <input type="text" placeholder="Фамилия" name="lastName" required />
            <input type="text" placeholder="Имя" name="firstName" required />
            <input type="text" placeholder="Отчество" name="patronymic" required />
            <input type="tel" placeholder="Номер телефона" name="phoneNumber" required />
            <input type="email" placeholder="Почта" name="email" required />
            <input type="password" placeholder="Пароль" name="password" required />
            <label class="checkbox-label">
                <input type="checkbox" name="remember" required />
                <span style="user-select: none">Я согласен с <a class="links" href="/offer" target="_blank">пользовательским соглашением</a> и <a class="links" href="/policy" target="_blank">политикой конфиденциальности</a></span>
            </label>
            <button type="submit" class="submit-btn" >Зарегистрироваться</button>
        </form>
    </div>
</div>