<link rel="stylesheet" href="/web/static/css/elements.css">

<div class="modal">
    <div class="modal-content cart-modal">
        <span class="modal-close" onclick="closeAllModals()">✖</span>

        <div class="modal-header">
            <h2 class="modal-title">Корзина ({{"3"}})</h2>
            <button class="delete-all-btn primary-btn btn-small">Очистить корзину</button>
        </div>

        <div class="cart__container">
            <div class="products__grid cart">
                <div class="product-card">
                    <div class="product-thumb">
                        <button class="add-to-favorites">♡</button>
                        <span class="product-price">{{"14 999"}} ₽</span>
                        <img src="/web/static/img/primer.webp" class="product-img" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-title">Кондиционер настенный сплит-система DEXP AC-CD7ONF белый</p>
                        <div class="product-tags">
                            <span>Сплит-система</span>
                            <span>до 20 м²</span>
                            <span>34 дБ</span>
                        </div>
                        <button class="add-to-cart">В корзину</button>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-thumb">
                        <button class="add-to-favorites">♡</button>
                        <span class="product-price">{{"14 999"}} ₽</span>
                        <img src="/web/static/img/primer.webp" class="product-img" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-title">Кондиционер настенный сплит-система DEXP AC-CD7ONF белый</p>
                        <div class="product-tags">
                            <span>Сплит-система</span>
                            <span>до 20 м²</span>
                            <span>34 дБ</span>
                        </div>
                        <button class="add-to-cart">В корзину</button>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-thumb">
                        <button class="add-to-favorites">♡</button>
                        <span class="product-price">{{"14 999"}} ₽</span>
                        <img src="/web/static/img/primer.webp" class="product-img" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-title">Кондиционер настенный сплит-система DEXP AC-CD7ONF белый</p>
                        <div class="product-tags">
                            <span>Сплит-система</span>
                            <span>до 20 м²</span>
                            <span>34 дБ</span>
                        </div>
                        <button class="add-to-cart">В корзину</button>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-thumb">
                        <button class="add-to-favorites">♡</button>
                        <span class="product-price">{{"14 999"}} ₽</span>
                        <img src="/web/static/img/primer.webp" class="product-img" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-title">Кондиционер настенный сплит-система DEXP AC-CD7ONF белый</p>
                        <div class="product-tags">
                            <span>Сплит-система</span>
                            <span>до 20 м²</span>
                            <span>34 дБ</span>
                        </div>
                        <button class="add-to-cart">В корзину</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-actions">
            <button class="btn-huge accent-btn" onclick="location.href='/cart'">Перейти к корзину</button>
        </div>

    </div>

</div>
