<link rel="stylesheet" href="/web/static/css/elements.css">

<div class="modal">
    <div class="modal-content main-modal">
        <span class="modal-close" onclick="closeAllModals()">✖</span>

        <h2 class="modal-title">Заголовок</h2>

        <div class="modal-body">
        </div>

        <div class="modal-description">
        </div>

        <div class="modal-actions">
            <button id="mainBtn" class="accent-btn btn-standard">Универсальная кнопка</button>
            <button class="primary-btn btn-standard" onclick="this.closest('.modal').remove()">Отмена</button>
        </div>
    </div>
</div>
