<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Панель администратора | ClimateHome - Продаем и устанавливаем сплит-системы в Уфе</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/web/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/web/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/web/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/web/static/favicon/site.webmanifest">

    <link rel="stylesheet" href="/web/static/css/main.css"/>
    <link rel="stylesheet" href="/web/static/css/elements.css"/>
    <link rel="stylesheet" href="/web/static/css/admin.css"/>
    <link rel="stylesheet" href="/web/static/notify/simple-notify.css"/>


</head>
<body>
{{template "header" .}}

<main class="main">
    <section class="blog__editor">
        <h1>Редактирование статей</h1>
        <div class="hint-block">
            <div class="hint-icon">ⓘ</div>
            <div class="hint-text">
                <strong>Редактирование статей доступно в разделе блога.</strong> Чтобы изменить текст, заголовок,
                изображения или другие элементы публикации, перейдите в соответствующий раздел: Откройте «Блог» →
                Нажмите «Редактировать» рядом с выбранной статьей, или добавьте новую статью.
            </div>
            <div class="hint-close" onclick="this.parentElement.style.display='none'">×</div>
        </div>
        <button class="primary-btn btn-standard" onclick="location.href='/blog'">Перейти в блог</button>
    </section>

    <div class="divider" style="margin: 0 8vw"></div>


    <section class="products__editor">
        <div class="hint-block">
            <div class="hint-icon">ⓘ</div>
            <div class="hint-text">
                <strong>Подсказка:</strong> Кликните на строку с нужным товаром и ниже отобразиться карточка товара с
                возможностью последующего редактирования.
            </div>
            <div class="hint-close" onclick="this.parentElement.style.display='none'">×</div>
        </div>
        <h1>Таблица всех товаров (<span id="total-count">0</span>)</h1>

        <div class="search-container">
            <input type="text" id="search-input" placeholder="Поиск...">
            <button id="search-btn" class="accent-btn btn-small">Найти</button>
        </div>

        <div class="table-wrapper">
            <div class="table-scroll">
                <table id="products-table">
                    <thead>
                    <tr>
                        <th class="checkbox-cell">
                            <input type="checkbox" id="select-all" class="select-all-checkbox">
                        </th>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Бренд</th>
                        <th>Тип</th>
                        <th>Цена</th>
                        <th>Инвертор</th>
                        <th>Площадь</th>
                        <th>Охлаждение (кВт)</th>
                        <th>Классы энергопотребления</th>
                        <th>Уровень шума</th>
                        <th>Внутренний блок (размеры/вес)</th>
                        <th>Наружный блок (размеры/вес)</th>
                        <th>Рейтинг</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="actions">
            <button class="add-btn" id="add-btn">Добавить новый товар</button>
            <button class="delete-btn" id="delete-btn">Удалить выбранные</button>
        </div>

        <div class="divider"></div>

        <div class="hint-block">
            <div class="hint-icon">ⓘ</div>
            <div class="hint-text">
                <strong>Подсказка:</strong> Заполните все поля и загрузите изображение товара для лучшего отображения в
                каталоге. Характеристики помогут покупателям быстрее найти ваш товар. <strong>Не забудьте
                сохранить!</strong>
            </div>
            <div class="hint-close" onclick="this.parentElement.style.display='none'">×</div>
        </div>

        <h1>Редактирование карточки товара</h1>

        <form class="edit-container" id="create-product-form" enctype="multipart/form-data">
            <div class="left-column">
                <div class="image-upload no-image">
                    <div>Нет изображения</div>
                </div>
                <input id="upload-btn" type="file" name="image" accept="image/*">
            </div>

            <div class="right-column">
                <div class="form-group">
                    <label for="title">Название товара</label>
                    <input type="text" name="title" placeholder="Введите название товара">
                </div>

                <div class="form-group">
                    <label for="short-description">Краткое описание</label>
                    <textarea name="short_description" placeholder="Введите краткое описание"></textarea>
                </div>

                <div class="divider"></div>

                <div class="form-group col">
                    <label for="type_id">Тип</label>
                    <select name="type_id">
                        <option value="">Выберите тип</option>
                        {{ range .types }}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{ end }}
                    </select>

                    <label for="brand_id">Бренд</label>
                    <select name="brand_id">
                        <option value="">Выберите бренд</option>
                        {{ range .brands }}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{ end }}
                    </select>

                    <label for="cooling_power">Мощность охлаждения (кВт)</label>
                    <input name="cooling_power" type="number" placeholder="0">

                    <label for="recommended_area">Рекомендуемая площадь (м2)</label>
                    <input name="recommended_area" type="number" placeholder="0">
                </div>

                <div class="divider"></div>

                <div class="form-group col">
                    <label for="price">Цена (руб.)</label>
                    <input type="text" name="price" class="price-input" placeholder="10 000">
                </div>
            </div>

            <div style="width: 100%">
                <div class="divider"></div>

                <div class="form-group">
                    <h2>Описание</h2>
                    <textarea name="long_description" placeholder="Введите полное описание товара"></textarea>
                </div>

                <div class="divider"></div>

                <h2>Характеристики</h2>
                <div class="characteristics">
                    <div class="form-group characteristic">
                        <label><input type="checkbox" name="has_inverter"> Инвертор</label>
                    </div>

                    <div class="form-group characteristic">
                        <label for="energy_class_cooling_id">Энергокласс (охлаждение)</label>
                        <select name="energy_class_cooling_id">
                            <option value="">-- выберите значение --</option>
                            {{ range .energy_classes }}
                                <option value="{{.ID}}">{{.Name}}</option>
                            {{ end }}
                        </select>
                    </div>

                    <div class="form-group characteristic">
                        <label for="energy_class_heating_id">Энергокласс (обогрев)</label>
                        <select name="energy_class_heating_id">
                            <option value="">-- выберите значение --</option>
                            {{ range .energy_classes }}
                                <option value="{{.ID}}">{{.Name}}</option>
                            {{ end }}
                        </select>
                    </div>

                    <div class="form-group characteristic">
                        <label name="min_noise_level">Мин. шум (дБ)</label>
                        <input type="number" step="0.1" name="min_noise_level" placeholder="0">
                    </div>

                    <div class="form-group characteristic">
                        <label>Макс. шум (дБ)</label>
                        <input type="number" step="0.1" name="max_noise_level" placeholder="0">
                    </div>

                    <div class="form-group characteristic">
                        <label>Габариты и вес внутреннего блока</label>
                        <input type="number" step="0.1" name="internal_weight" placeholder="Вес внутреннего (кг)">
                        <input type="number" name="internal_width" placeholder="Ширина внутреннего (мм)">
                        <input type="number" name="internal_height" placeholder="Высота внутреннего (мм)">
                        <input type="number" name="internal_depth" placeholder="Глубина внутреннего (мм)">
                    </div>

                    <div class="form-group characteristic">
                        <label>Габариты и вес внешнего блока</label>
                        <input type="number" step="0.1" name="external_weight" placeholder="Вес внешнего (кг)">
                        <input type="number" name="external_width" placeholder="Ширина внешнего (мм)">
                        <input type="number" name="external_height" placeholder="Высота внешнего (мм)">
                        <input type="number" name="external_depth" placeholder="Глубина внешнего (мм)">
                    </div>
                </div>
            </div>

            <div style="width: 100%; display: flex;">
                <button id="saveProductPtn" type="submit" class="btn-huge accent-btn">Сохранить</button>
            </div>

        </form>

    </section>
</main>

{{template "footer" .}}}

<script src="/web/static/notify/simple-notify.min.js"></script>
<script src="/web/static/js/admin.js"></script>

<script>
    document.getElementById("create-product-form").addEventListener("submit", async function (e) {
        e.preventDefault();

        const form = e.target;
        const formData = new FormData(form);

        // Приведение чекбокса к строке "true"/"false"
        formData.set("has_inverter", form.has_inverter.checked ? "true" : "false");

        try {
            const res = await fetch("/api/split-systems", {
                method: "POST",
                body: formData
            });

            const data = await res.json();

            if (res.ok) {
                showNotify('Успех', "Товар успешно создан!")
                form.reset();
            } else {
                showErr("Ошибка: " + (data.error || "неизвестная ошибка")
            }
        } catch (err) {
            console.error(err);
            showErr("Ошибка отправки запроса.")
        }
    });
</script>


</body>
</html>
