<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Панель администратора | ClimateHome - Продаем и устанавливаем сплит-системы в Уфе</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/web/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/web/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/web/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/web/static/favicon/site.webmanifest">

    <link rel="stylesheet" href="/web/static/css/main.css" />
    <link rel="stylesheet" href="/web/static/css/elements.css" />
    <link rel="stylesheet" href="/web/static/css/admin.css" />
    <link rel="stylesheet" href="/web/static/notify/simple-notify.css" />


</head>
<body>
{{template "header" .}}

<main class="main">
    <section class="blog__editor">

    </section>

    <section class="products__editor">
        <h1>Таблица всех товаров (<span id="total-count">0</span>)</h1>

        <div class="search-container">
            <input type="text" id="search-input" placeholder="Поиск...">
            <button id="search-btn" class="accent-btn btn-small">Найти</button>
        </div>

        <div class="table-wrapper">
            <div class="table-scroll">
                <table id="products-table">
                    <thead>
                    <tr>
                        <th class="checkbox-cell">
                            <input type="checkbox" id="select-all" class="select-all-checkbox">
                        </th>
                        <th style="width: 5%;">id</th>
                        <th style="width: 20%;">Название</th>
                        <th style="width: 30%;">Описание</th>
                        <th style="width: 10%;">Стоимость</th>
                        <th style="width: 10%;">...</th>
                        <th style="width: 10%;">...</th>
                        <th style="width: 15%;">...</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Данные будут загружаться через JS -->
                    </tbody>
                </table>
            </div>
        </div>

        <div class="actions">
            <button class="add-btn" id="add-btn">Добавить новый товар</button>
            <button class="delete-btn" id="delete-btn">Удалить выбранные</button>
        </div>
    </section>
</main>

{{template "footer" .}}}

<script src="/web/static/notify/simple-notify.min.js"></script>

<script src="/web/static/js/admin.js"></script>
</body>
</html>
