<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Блог | ClimateHome - Продаем и устанавливаем сплит-системы в Уфе</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/web/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/web/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/web/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/web/static/favicon/site.webmanifest">

    <link rel="stylesheet" href="/web/static/css/main.css" />
    <link rel="stylesheet" href="/web/static/css/elements.css" />
    <link rel="stylesheet" href="/web/static/css/blog.css" />

    <link rel="stylesheet" href="/web/static/notify/simple-notify.css" />

    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-e4363121-2d4f-4914-8220-73508a36cd9e" data-elfsight-app-lazy></div>
</head>
<body>
{{template "header" .}}

<main class="main">
    <section class="blog">
        <h2>Блог
            {{if .isAdmin}} [Администрирование] {{else}} | Полезное и интересное{{end}}
        </h2>
        <div class="blog-card-container">
            {{range .articles}}
                <div class="blog-card" data-id="{{.ID}}">
                    <a href="/articles/{{.ID}}" class="blog-card-image">
                        <img src="{{.ImageURL}}" alt="{{.Title}}">
                    </a>
                    <div class="blog-card-content">
                        <h3 class="blog-card-title">{{.Title}}</h3>
                        <p class="blog-card-description">{{.Description}}</p>
                    </div>
                    <div class="blog-card-action">
                        <button onclick="location.href='/articles/{{.ID}}'" class="more-btn">Подробнее</button>
                        {{if $.isAdmin}}
                            <div class="admin-controls">
                                <button class="article-edit-btn" onclick="openArticleEditor({{.ID}})">✏️</button>
                                <button class="article-delete-btn" onclick="articleDeleteConfirm({{.ID}})">🗑️</button>
                            </div>
                        {{end}}
                    </div>
                </div>
            {{end}}

            {{if .isAdmin}}
                <div onclick="createArticleEditor()" class="blog-card blog-card-add">
                    <div class="blog-card-add-icon">＋</div>
                    <div class="blog-card-add-text">Добавить статью</div>
                    <div class="blog-card-admin-label">Только для админа</div>
                </div>
            {{end}}
        </div>
    </section>

    {{template "contact-form" .}}
</main>

{{template "footer" .}}}

<script src="/web/static/notify/simple-notify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<script src="/web/static/js/blog.js"></script>
<script src="/web/static/js/articles-editor.js"></script>
<script src="/web/static/js/app.js"></script>
<script src="/web/static/js/utils.js"></script>

</body>
</html>
