<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Каталог сплит-систем | ClimateHome - Продаем и устанавливаем сплит-системы в Уфе</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/web/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/web/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/web/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/web/static/favicon/site.webmanifest">

    <link rel="stylesheet" href="/web/static/css/main.css" />
    <link rel="stylesheet" href="/web/static/css/elements.css" />

    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-e4363121-2d4f-4914-8220-73508a36cd9e" data-elfsight-app-lazy></div>
</head>
<body>
{{template "header" .}}

<main class="main">

    <section class="catalog products">
        <h2>Каталог | Cплит-системы в Уфе</h2>
        <div class="products__filters">
            <label class="filter-radio">
                <input type="radio" name="filter" value="option1" checked>
                <span class="radio-label">Высокий рейтинг</span>
            </label>

            <label class="filter-radio">
                <input type="radio" name="filter" value="option2">
                <span class="radio-label">По возрастанию цены</span>
            </label>

            <label class="filter-radio">
                <input type="radio" name="filter" value="option3">
                <span class="radio-label">По убыванию цены</span>
            </label>
        </div>

        <div class="products__grid">
            <div class="product-card">
                <div class="product-thumb">
                    <button class="add-to-favorites">♡</button>
                    <span class="product-price">{{"14 999"}} ₽</span>
                    <img src="/web/static/img/primer.webp" class="product-img">
                </div>
                <div class="product-body">
                    <p class="product-title">Кондиционер настенный сплит-система DEXP AC-CD7ONF белый</p>
                    <div class="product-tags">
                        <span>Сплит-система</span>
                        <span>до 20 м²</span>
                        <span>34 дБ</span>
                    </div>
                    <button class="add-to-cart">В корзину</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-thumb">
                    <button class="add-to-favorites">♡</button>
                    <span class="product-price">{{"14 999"}} ₽</span>
                    <img src="/web/static/img/primer.webp" class="product-img">
                </div>
                <div class="product-body">
                    <p class="product-title">Кондиционер настенный сплит-система DEXP AC-CD7ONF белый</p>
                    <div class="product-tags">
                        <span>Сплит-система</span>
                        <span>до 20 м²</span>
                        <span>34 дБ</span>
                    </div>
                    <button class="add-to-cart">В корзину</button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-thumb">
                    <button class="add-to-favorites">♡</button>
                    <span class="product-price">{{"14 999"}} ₽</span>
                    <img src="/web/static/img/primer.webp" class="product-img">
                </div>
                <div class="product-body">
                    <p class="product-title">Кондиционер настенный сплит-система DEXP AC-CD7ONF белый</p>
                    <div class="product-tags">
                        <span>Сплит-система</span>
                        <span>до 20 м²</span>
                        <span>34 дБ</span>
                    </div>
                    <button class="add-to-cart">В корзину</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-thumb">
                    <button class="add-to-favorites">♡</button>
                    <span class="product-price">{{"14 999"}} ₽</span>
                    <img src="/web/static/img/primer.webp" class="product-img">
                </div>
                <div class="product-body">
                    <p class="product-title">Кондиционер настенный сплит-система DEXP AC-CD7ONF белый</p>
                    <div class="product-tags">
                        <span>Сплит-система</span>
                        <span>до 20 м²</span>
                        <span>34 дБ</span>
                    </div>
                    <button class="add-to-cart">В корзину</button>
                </div>
            </div>


            <div class="product-card">
                <div class="product-thumb">
                    <button class="add-to-favorites">♡</button>
                    <span class="product-price">{{"14 999"}} ₽</span>
                    <img src="/web/static/img/primer.webp" class="product-img">
                </div>
                <div class="product-body">
                    <p class="product-title">Кондиционер настенный сплит-система DEXP AC-CD7ONF белый</p>
                    <div class="product-tags">
                        <span>Сплит-система</span>
                        <span>до 20 м²</span>
                        <span>34 дБ</span>
                    </div>
                    <button class="add-to-cart">В корзину</button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-thumb">
                    <button class="add-to-favorites">♡</button>
                    <span class="product-price">{{"14 999"}} ₽</span>
                    <img src="/web/static/img/primer.webp" class="product-img">
                </div>
                <div class="product-body">
                    <p class="product-title">Кондиционер настенный сплит-система DEXP AC-CD7ONF белый</p>
                    <div class="product-tags">
                        <span>Сплит-система</span>
                        <span>до 20 м²</span>
                        <span>34 дБ</span>
                    </div>
                    <button class="add-to-cart">В корзину</button>
                </div>
            </div>

            <div class="product-card">
                <div class="product-thumb">
                    <button class="add-to-favorites">♡</button>
                    <span class="product-price">{{"14 999"}} ₽</span>
                    <img src="/web/static/img/primer.webp" class="product-img">
                </div>
                <div class="product-body">
                    <p class="product-title">Кондиционер настенный сплит-система DEXP AC-CD7ONF белый</p>
                    <div class="product-tags">
                        <span>Сплит-система</span>
                        <span>до 20 м²</span>
                        <span>34 дБ</span>
                    </div>
                    <button class="add-to-cart">В корзину</button>
                </div>
            </div>
        </div>
    </section>

    {{template "calc-banner" .}}

    {{template "popular-products" .}}

    {{template "contact-form" .}}

</main>

{{template "footer" .}}}

</body>
</html>