<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Сайт сплит-систем</title>
    <link rel="stylesheet" href="/web/static/css/main.css" />
</head>
<body>
{{template "header" .}}

<main class="main">
    <section class="slider">
        <div class="slider__container">Слайдер Акций/Рекламы/Продукции/Услуг</div>
    </section>

    <section class="products">
        <h2>Продаем и обслуживаем<br>Сплит-системы в Уфе</h2>
        <div class="products__grid">
            <div class="product-card">Тип сплит системы</div>
            <div class="product-card">Тип сплит системы</div>
            <div class="product-card">Тип сплит системы</div>
            <div class="product-card">Тип сплит системы</div>
            <div class="product-card">Тип сплит системы</div>
            <div class="product-card">Тип сплит системы</div>
        </div>
    </section>


    {{template "popular-products" .}}

    {{template "contact-form" .}}

</main>

{{template "footer" .}}}

<script src="script.js"></script>
</body>
</html>
