<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{.info.Title}} | ClimateHome - Продаем и устанавливаем сплит-системы в Уфе</title>


    <link rel="apple-touch-icon" sizes="180x180" href="/web/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/web/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/web/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/web/static/favicon/site.webmanifest">

    <link rel="stylesheet" href="/web/static/css/main.css"/>
    <link rel="stylesheet" href="/web/static/css/elements.css"/>
    <link rel="stylesheet" href="/web/static/css/product.css"/>

    <link rel="stylesheet" href="/web/static/notify/simple-notify.css"/>

    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-e4363121-2d4f-4914-8220-73508a36cd9e" data-elfsight-app-lazy></div>
</head>
<body>
{{template "header" .}}

<main class="main">
    <!-- Контейнер карточки -->
    <section class="product-page">
        <h1 class="product-title">{{.info.Title}}</h1>

        <div class="product-main">
            <div class="product-image">
                <img src="/web/static/img/primer.webp" alt="Название товара">
            </div>

            <div class="product-info">
                <p class="product-short">{{.info.ShortDescription}}</p>

                <div class="product-meta">
                    <span class="product-rating">Рейтинг: <strong>{{.info.AverageRating}}</strong></span>
                    <span class="product-category">{{ .info.Type.Name }}</span>
                    <span class="product-category">до {{ .info.RecommendedArea }} дБ</span>
                </div>

                <div class="product-price-block">
                    <div class="p-price">{{formatPrice .info.Price}} руб.</div>
                    <div class="product-actions">
                        <button class="btn-huge accent-btn">Заказать</button>
                        {{ if .isAuthenticated }}
                        {{ if .info.InFavorites }}
                        <button class="btn-huge primary-btn" onclick="">
                            <div class="p-f">
                                <span style="scale: 1.5">♥</span>В избранном</div>
                        </button>
                        {{else}}
                        <button class="btn-huge primary-btn" onclick="addToFavorites(this, {{.info.ID}})">
                            <div class="p-f">
                                <span style="scale: 1.5">♡</span>В избранное
                            </div>
                        </button>
                        {{end}}

                        {{else}}
                        <button class="btn-huge primary-btn" onclick="openAuthModal()">
                            <div class="p-f">
                                <span style="scale: 1.5">♡</span>В избранное
                            </div>
                        </button>
                        {{end}}
                    </div>
                </div>

                <div class="product-quick-specs">
                    <div class="spec-row">
                        <span class="spec-label">Модель</span>
                        <span class="spec-value">{{.info.Brand.Name}}</span>
                    </div>
                    <div class="spec-row">
                        <span class="spec-label">Тип</span>
                        <span class="spec-value">{{.info.Type.Name}}</span>
                    </div>
                    <div class="spec-row">
                        <span class="spec-label">Мощность охлаждения</span>
                        <span class="spec-value">{{.info.CoolingPower}} кВт</span>
                    </div>
                    <div class="spec-row">
                        <span class="spec-label">Рекомендуемая площадь</span>
                        <span class="spec-value">{{.info.RecommendedArea}} м²</span>
                    </div>

                    <button class="specs-btn btn-small primary-btn"
                            onclick="document.getElementById('desc').scrollIntoView({ behavior: 'smooth' });">
                        Характеристики и описание →
                    </button>
                </div>

            </div>
        </div>

        <div id="desc" class="product-desc">
            <h2>Описание и характеристики</h2>

            <details class="product-description" open>
                <summary>Описание</summary>
                <p>{{.info.LongDescription}}</p>
            </details>

            <!-- Характеристики -->
            <details class="product-details" open>
                <summary>Характеристики</summary>

                <div class="spec-section">
                    <h3>Общие параметры</h3>
                    <div class="spec-grid">
                        <div class="spec-row"><span>Модель:</span><span>{{.info.Brand.Name}}</span></div>
                        <div class="spec-row"><span>Тип:</span><span>{{.info.Type.Name}}</span></div>
                        <div class="spec-row"><span>Режимы:</span>
                            <span>
                                {{- range $i, $mode := .info.Modes -}}
                                    {{- if $i}}, {{end -}}{{ $mode.Name }}
                                {{- end -}}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="spec-section">
                    <h3>Производительность</h3>
                    <div class="spec-grid">
                        <div class="spec-row"><span>Класс энергопотребления (охлаждение):</span><span>{{.info.EnergyClassCooling.Name}}</span></div>
                        <div class="spec-row"><span>Класс энергопотребления (обогрев):</span><span>{{.info.EnergyClassHeating.Name}}</span></div>
                        <div class="spec-row"><span>Мощность охлаждения:</span><span>{{.info.CoolingPower}} кВт</span></div>
                            <div class="spec-row"><span>Рекомендуемая площадь:</span><span>{{.info.RecommendedArea}} кВт</span>
                        </div>
                        <div class="spec-row">
                            <span>Мин. уровень шума (внутр.):</span><span>{{.info.MinNoiseLevel}} дБ</span>
                        </div>
                        <div class="spec-row">
                            <span>Макс. уровень шума (внутр.):</span><span>{{.info.MaxNoiseLevel}} дБ</span>
                        </div>
                    </div>
                </div>

                <div class="spec-section">
                    <h3>Конструкция</h3>
                    <div class="spec-grid">
                        <div class="spec-row">
                            <span>Инвертор:</span><span>{{if .info.HasInverter}}Да{{else}}Нет{{end}}</span></div>
                    </div>
                </div>

                <div class="spec-section">
                    <h3>Габариты и вес внутреннего блока</h3>
                    <div class="spec-grid">
                        <div class="spec-row">
                            <span>Глубина внутреннего блока:</span><span>{{.info.InternalDepth}} мм</span>
                        </div>
                        <div class="spec-row">
                            <span>Ширина внутреннего блока:</span><span>{{.info.InternalWidth}} мм</span>
                        </div>
                        <div class="spec-row">
                            <span>Высота внутреннего блока:</span><span>{{.info.InternalHeight}} мм</span>
                        </div>
                        <div class="spec-row">
                            <span>Вес внутреннего блока:</span><span>{{.info.InternalWeight}} кг</span>
                        </div>
                    </div>
                </div>

                <div class="spec-section">
                    <h3>Габариты и вес внешнего блока</h3>
                    <div class="spec-grid">
                        <div class="spec-row">
                            <span>Глубина внешнего блока (мм):</span><span>{{.info.ExternalDepth}} мм</span>
                        </div>
                        <div class="spec-row">
                            <span>Ширина внешнего блока (мм):</span><span>{{.info.ExternalWidth}} мм</span>
                        </div>
                        <div class="spec-row">
                            <span>Высота внешнего блока (мм):</span><span>{{.info.ExternalHeight}} мм</span>
                        </div>
                        <div class="spec-row">
                            <span>Вес внешнего блока (кг):</span><span>{{.info.ExternalWeight}} кг</span>
                        </div>
                    </div>
                </div>
            </details>
        </div>

        <div class="reviews-block">
            <h2>Отзывы</h2>

            {{ if not .info.Reviews }}
            <div class="products-empty">
                <h4>Пока нет отзывов</h4>
                <p>Станьте первым, кто оставит отзыв о товаре</p>
            </div>
            {{ else }}
            {{ range .info.Reviews }}
            <div class="review-card">
                <div class="review-header">
                    <span class="review-author">{{.User.FirstName}}</span>
                    <div class="review-rating">
                        <span class="stars">{{ stars .Rating }}</span>
                        <span class="score">Оценка: {{.Rating}} / 5</span>
                    </div>
                </div>
                <p class="review-text">{{.Comment}}</p>
            </div>
            {{ end }}
            {{ end }}

            {{ if .isAuthenticated }}
                <button id="addReviewBtn" class="btn-standard accent-btn" onclick="openReviewModal({{.info.ID}})">Написать отзыв</button>
            {{ else }}
                <button class="btn-standard accent-btn">Войти</button>
            {{ end }}
        </div>

    </section>

    {{template "popular-products" .}}

    {{template "contact-form" .}}

</main>

{{template "footer" .}}}

<script src="/web/static/notify/simple-notify.min.js"></script>
<script src="/web/static/js/utils.js"></script>
<script src="/web/static/js/app.js"></script>
<script>
    function addToFavorites(button, id) {
        fetch("/api/favorites", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({split_system_id: id})
        })
            .then(response => {
                if (!response.ok) throw new Error("Ошибка при добавлении в избранное");
                return response.json();
            })
            .then(data => {
                button.classList.add("active");
                button.setAttribute("onclick", ""); // убрать клик

                // Обновляем текст на "В избранном"
                button.innerHTML = `
                <div class="p-f">
                    <span style="scale: 1.5">♥</span>
                </div>
            `;

                showToast("", "Товар добавлен в избранное");
            })
            .catch(err => {
                alert("Ошибка: " + err.message);
            });
    }

</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const stars = document.querySelectorAll('#rating .star');
        const ratingValueInput = document.getElementById('rating-value');
        let currentRating = 0;

        stars.forEach((star, index) => {
            // Наведение: подсвечиваем звёзды до текущей
            star.addEventListener('mouseover', () => {
                updateStars(index + 1);
            });

            // Убираем мышь: возвращаем к текущему рейтингу
            star.addEventListener('mouseout', () => {
                updateStars(currentRating);
            });

            // Клик: фиксируем рейтинг
            star.addEventListener('click', () => {
                currentRating = index + 1;
                ratingValueInput.value = currentRating;
            });
        });

        function updateStars(rating) {
            stars.forEach((star, index) => {
                if (index < rating) {
                    star.classList.add('active');
                } else {
                    star.classList.remove('active');
                }
            });
        }
    });
</script>

</body>
</html>