<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Профиль | ClimateHome - Продаем и устанавливаем сплит-системы в Уфе</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/web/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/web/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/web/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/web/static/favicon/site.webmanifest">

    <link rel="stylesheet" href="/web/static/notify/simple-notify.css" />

    <link rel="stylesheet" href="/web/static/css/elements.css" />
    <link rel="stylesheet" href="/web/static/css/main.css" />
</head>
<body>
{{template "header" .}}

<main class="main">

    {{template "cart-module" .}}

    <hr style="margin: 0 8vw">

    <section class="profile-section">
        <div class="form-section">
            <h2>Персональные данные</h2>
            <div class="form-group">
                <input type="text" placeholder="Фамилия" value="{{.userData.LastName}}">
                <input type="text" placeholder="Имя" value="{{.userData.FirstName}}">
                <input type="text" placeholder="Отчество (не обязательно)" value="{{.userData.Patronymic}}">
            </div>
            <div class="form-group">
                <input type="email" placeholder="Почта" value="{{.userData.Email}}">
                <input type="tel" placeholder="Телефон" value="{{.userData.PhoneNumber}}">
            </div>
            <button class="accent-btn btn-standard" onclick="changeCredentials()">Изменить / Сохранить</button>
        </div>

        <hr>

        <div class="form-section">
            <h2>Аккаунт</h2>
            <div class="form-group">
                <input type="password" value="************" disabled>
                <button class="accent-btn btn-standard" onclick="openModal(modalConfigs.passwordEdit)">Изменить&nbsp;пароль</button>
            </div>
            <button class="primary-btn btn-standard" onclick="openModal(modalConfigs.deleteAccount)">Удалить аккаунт</button>
        </div>
    </section>



</main>

{{template "footer" .}}}

<script src="/web/static/js/app.js"></script>
<script src="/web/static/js/utils.js"></script>
<script src="/web/static/notify/simple-notify.min.js"></script>

</body>
</html>
<script>
    function changeCredentials(){

        const payload = {
            new_last_name: document.querySelector('input[placeholder="Фамилия"]').value.trim(),
            new_first_name: document.querySelector('input[placeholder="Имя"]').value.trim(),
            new_patronymic: document.querySelector('input[placeholder="Отчество (не обязательно)"]').value.trim(),
            new_email: document.querySelector('input[placeholder="Почта"]').value.trim(),
            new_phone_number: document.querySelector('input[placeholder="Телефон"]').value.trim()
        };

        fetch("/api/auth/change-credentials", {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(payload)
        })
            .then(response => {
                if (!response.ok) throw new Error("Не удалось обновить данные");
                return response.json();
            })
            .then(data => {
                showToast("", "Данные успешно обновлены");
            })
            .catch(err => {
                alert("Ошибка: " + err.message);
            });

    }

</script>