.blog, .article {
    margin: 2vw 8vw;
}

.more-articles {
    margin: 6vw 8vw;
}

.blog h2, .article h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.more-articles h2 {
    margin-bottom: 1rem;
}

.blog-card-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.blog-card {
    width: 100%;
    max-width: 300px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.blog-card-image {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    overflow: hidden;
}

.blog-card-image:hover img {
    scale: 1.05;
}

.blog-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .6s ease;
}

.blog-card-content {
    padding: 16px;
    text-align: left;
}

.blog-card-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}

.blog-card-description {
    font-size: 0.95rem;
    color: #666;
    margin-top: 8px;
}

.blog-card-action {
    margin: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;
}

.blog-card-action .more-btn {
    width: 100%;
    padding: 10px;
    background: #5db0ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.blog-card-action .more-btn:hover {
    background: #5295da;
}

.article-content {
    line-height: 180%;
}

.article-content p {
    margin-bottom: 1rem;
}

.article-content img {
    border-radius: 1rem;
    max-width: 30vw;
}

.left-img {
    float: left;
    margin: 1rem 1rem 1rem 0;
}

.right-img {
    float: right;
    margin: 1rem 0 1rem 1rem;
}