* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #5db0ff;
    --accent-color-hover: #5295da;
    --gray-light: #dcdcdc;
    --gray: #999;
    --gray-dark: #555;
    --bg-light: #f8f8f7;
    --text-color: #000;

    --border-05: 0.5rem;
    --border-1: 1rem;
    --border-2: 2rem;
    --border-max: 9999px;

    --gap-05: .5rem;
    --gap-1: 1rem;
    --gap-2: 2rem;

    --fz-05: 0.5rem;
    --fz-08: 0.8rem;
    --fz-1: 1rem;
    --fz-12: 1.2rem;
    --fz-2: 2rem;
    --fz-3: 3rem;

    --transition-fast: 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
    font-size: 16px;
}

a {
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}

.main {
    padding-top: 2vw;
}

input[type="tel"], input[type="text"], input[type="email"],
input[type="password"], textarea {
    font-size: var(--fz-1) !important;
    padding: .8rem 1rem;
    border-radius: var(--border-05);
    border: 1px solid #dcdcdc;
}

input[type="tel"]:active, input[type="text"]:active, input[type="email"]:active,
input[type="tel"]:focus, input[type="text"]:focus, input[type="email"]:focus,
textarea:focus, textarea:active {
    border: 1px solid #007aff;
    outline: none;
}


/* ################################# */
/*              HEADER               */
/* ################################# */

.header__top .header__icons .icon.burger {
    display: none;
    background: none;
    cursor: pointer;
    padding: .5rem;
    margin-left: auto;
}
.burger svg {
    width: 2rem;
    height: 2rem;
    fill: var(--text-color);
}

.header .nav.open {
    display: flex;
}


.header {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
    z-index: 2000;
}
.header__top {
    display: flex;
    align-items: center;
    padding: .5vw 8vw;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--gray-light);
}

.header__top .header__logo {
    width: 15%;
    font-weight: bold;
    border: none;
    border-radius: var(--border-max);
    padding: .8rem 0;
    margin-right: 1rem;
}
.header__logo img {
    width: 100%;
    object-fit: cover;
}

.header__top .header__phone, .header__top .header__chat {
    font-size: var(--fz-1);
    text-decoration: none;
}
.header__top .header__phone {
    font-weight: bold;
    padding: .5rem;
    border-left: 1px solid var(--gray-light);
}
.header__chat {
    display: flex;
    align-items: center;
    gap: var(--gap-05);
    font-weight: bold;
    color: var(--accent-color);
    border-radius: var(--border-max);
    padding: .5rem 1rem;
    margin-right: 1rem;
    margin-left: auto;
    cursor: pointer;
    transition: .5s ease;
}
.header__chat:hover {
    background: var(--accent-color);
    color: white;
}
.header__chat .icon, .search__container .icon {
    width: 1.4rem;
    height: 1.4rem;
}
.header__top .search__container {
    position: relative;
    display: flex;
    gap: var(--gap-05);
    align-items: center;
    flex-basis: 40%;
    margin: 0 1rem;
    padding: .5rem;
    border-radius: var(--border-max);
    border: 1px solid #ddd;
    overflow: hidden;
    color: var(--gray-dark);
    transition: var(--transition-fast);
}
.header__top .search__container:hover {
    border: 1px solid var(--accent-color);
}
.search__container .header__search {
    position: absolute;
    left: 2.5rem;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
.header__top .header__icons {
    display: flex;
    gap: var(--gap-1);
}
.header__top .header__icons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: .6rem;
    border-radius: var(--border-max);
    border: 2px solid var(--gray-dark);
    transition: var(--transition-fast);
    cursor: pointer;
}
.header__icons .icon:hover {
    opacity: .5;
}
.icon svg {
    width: 100%;
    height: 100%;
}
.header .nav {
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding: 0.35rem 0;
}
.header .nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--fz-1);
    padding: .2rem 1rem;
    transition: var(--transition-fast);
}
.header .nav a:hover {
    background: #dbeafe;
    border-radius: var(--border-max);
}


/* ################################# */
/*              SLIDER               */
/* ################################# */
.slider {
    width: 100%;
    padding: 0 8vw;
    margin-top: 2vw;
}
.mobile.swiper-container {
    display: none;
}
.desktop.swiper-container {
    display: block;
}
.swiper-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.swiper-wrapper {
    margin-left: 0;
    margin-right: 0;
}
.swiper-slide {
    opacity: 0 !important;
    transform: scale(0.95);
    transition:
            opacity 600ms ease-in-out,
            transform 600ms ease-in-out;
}
.swiper-slide-active {
    opacity: 1 !important;
    transform: scale(1);
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-2);
}
.swiper-pagination {
    position: absolute;
    bottom: 2rem !important;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    z-index: 10;
}
.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background var(--transition-fast);
}
.swiper-pagination-bullet-active {
    background: white !important;
}


/* ################################# */
/*       CATALOG, PRODUCT CARDS      */
/* ################################# */
.catalog__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2vw;
    flex-grow: 1;
}

.catalog .products__grid {
    grid-template-columns: repeat(3, 1fr);
}

.cart__container {
    transition: max-height 0.3s ease;
    overflow: hidden;
}

#cart-toggle, #favorites-toggle {
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: .5rem;
    border: 1px solid var(--gray-light);
    background: #f8f8f7;
    padding: .6rem;
    transform: translateY(.3rem);
    cursor: pointer;
}
#cart-toggle svg { transition: .3s ease }
#cart-toggle.active svg {
    transform: scale(1, -1);
}

.cart__container.opened {
    max-height: 2000px; /* большое значение, чтобы влез весь контент */
}

.cart__container:not(.opened) {
    max-height: 0;
    padding: 0;
}

.products, .services, .cart-section, .favorites-section,
.profile-section{
    padding: 4rem 8vw;
}
.products h2, .services h2, .contact__form h2 {
    font-size: var(--fz-3);
    margin-bottom: 1.5rem;
    width: 100%;
}
.products__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}
.products__grid.cart {
    position: relative;
    grid-template-columns: repeat(3, minmax(10vw, 1fr));
    gap: var(--gap-1);
}
.products-empty {
    width: 100%;
    border-radius: var(--border-1);
    border: 2px dashed var(--gray-light);
    padding: 1rem;
    margin-bottom: 1rem;
    max-height: 50vh;
    color: var(--gray-dark);
}
.products-empty h4 {
    margin-bottom: 1rem;
}
.product-card {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid var(--gray-light);
    outline: 2px solid transparent;
    overflow: hidden;
    border-radius: var(--border-1);
    background: var(--bg-light);
    transition: var(--transition-fast);
    cursor: pointer;
}
.product-card:focus,
.product-card:hover {
    outline-color: #2196f3;
    border: 1px solid transparent;
    color: var(--text-color);
}
.product-thumb {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: var(--border-05);
    background: #eee;
}
.product-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
.product-price {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: white;
    color: var(--text-color);
    padding: 0.3rem 0.6rem;
    border-radius: var(--border-05);
    font-weight: bold;
    font-size: var(--fz-08);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #eeeeee;
    z-index: 101;
}
.product-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: var(--gap-05);
}
.card-product-title {
    font-size: var(--fz-12);
    font-weight: bold;
}
.product-tags {
    display: flex;
    gap: var(--gap-05);
}
.product-tags span {
    padding: 0.3rem 0.5rem;
    border-radius: var(--border-05);
    border: 1px solid var(--gray-light);
    font-size: 0.75rem;
}
.add-to-cart {
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-top: auto;
    align-self: flex-end;
    background: var(--accent-color);
    color: white;
    padding: 0.4rem 0.8rem;
    font-size: var(--fz-08);
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: var(--transition-fast);
}
.add-to-cart.active {
    background: none;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}
.add-to-cart:hover {
    background: var(--accent-color-hover);
}
.add-to-cart.active:hover {
    background: var(--accent-color);
    color: white;
}
.add-to-favorites {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 2rem;
    height: 2rem;
    background: white;
    color: var(--text-color);
    border: 1px solid #eeeeee;
    border-radius: var(--border-05);
    font-size: var(--fz-12);
    font-weight: bold;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    z-index: 10;
    transition: background var(--transition-fast), color var(--transition-fast);
}
.add-to-favorites.active {
    background: var(--accent-color);
    color: white;
}
.add-to-favorites:hover {
    background: var(--accent-color-hover);
    color: white;
}

.products__filters {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-1);
    margin-bottom: 1rem;
}
.filter-radio {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    padding: 0.5rem 1rem;
    border-radius: var(--border-max);
    border: 1px solid var(--gray-light);
    white-space: nowrap;
}
.filter-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.radio-label {
    font-size: .875rem;
    width: 150px;
    text-align: center;
}
.filter-radio input[type="radio"]:checked ~ .radio-label {
    font-weight: 600;
    color: var(--accent-color);
}

aside {
    flex-basis: 100%;
    /*max-width: 420px;*/
    background: #ffffff;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    height: max-content;
    overflow-y: auto;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group label.title {
    display: block;
    margin-bottom: 2px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
}

.checkbox-button, .radio-button {
    display: inline-block;
    background: #f1f1f1;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 4px 8px;
    margin: 3px 3px 3px 0;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    transition: all 0.2s ease;
}

.checkbox-button input, .radio-button input {
    display: none;
}

.checkbox-button.checked, .radio-button.checked {
    background: #5db0ff;
    color: white;
    border-color: #5db0ff;
}

select, input[type="range"], input[type="number"] {
    width: 100%;
    padding: .18rem;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    font-size: .875rem;
    accent-color: #2989e5;
}

#brand-checkboxes.collapsed .checkbox-button.hidden {
    display: none;
}
.toggle-button {
    margin-top: 8px;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    padding: 0;
}

.filter-actions {
    margin-top: 24px;
}

.btn-apply {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: .5rem;
}

#area-range-label, #cooling-range-label {
    font-size: .875rem;
    padding: .3rem 1rem;
    border: 1px solid #dcdcdc;
    border-radius: 1000px;
    background-color: #f1f1f1;
}

#filters-reset {
    display: none;
    border-radius: 9999px;
}

#filters-reset.active {
    display: block;
}


/* ################################# */
/*               CART                */
/* ################################# */
.cart__container {
    flex-grow: 1;
    padding: 2px;
    overflow-y: auto;
    height: 100%;
}
.cart-section h2, .favorites-section h2 {
    font-size: var(--fz-3);
}



#services, #contact-us {
    scroll-margin-top: 120px;

}

/* ################################# */
/*              SERVICES             */
/* ################################# */
#services {
    padding: 0 8vw;
    margin-top: 4vw;
    margin-bottom: 2vw;
}

#services h2 {
    font-size: var(--fz-3);
    margin-bottom: 2rem;
}

.services-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-2);
}

.services-card {
    position: relative;
    width: 100%;
    background-color: var(--accent-color);
    color: white;
    border-radius: 16px;
    border: 1px solid var(--gray-light);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.services-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.services-card-image:hover img {
    scale: 1.05;
}

.services-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .6s ease;
}

.services-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-align: left;
}

.services-card-title {
    font-size: var(--fz-1);
    font-weight: normal;
    margin: 0;
}

.arrow-right {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
    width: 1.5rem;
    transition: var(--transition-fast);
}

.services-card:hover .arrow-right {
    visibility: visible;
    transform: translateX(0px);;
    opacity: 1;
}







/* Затемнение */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* Тёмное затемнение */
    z-index: 999;
    display: none;
}

/* Показывать затемнение */
.overlay.active {
    display: block;
}



/* ################################# */
/*                CALC               */
/* ################################# */
.calc__banner {
    height: 20rem;
    margin: 2vw 8vw;
    padding: 0;
    overflow: hidden;
    background: var(--accent-color);
    border-radius: var(--border-1);
    cursor: pointer;
}
.calc__banner .img-mobile {
    display: none;
}
.calc__banner img {
    width: 100%;
    height: 100%;
    object-position: left;
    object-fit: cover;
}


/* ################################# */
/*           ABOUT SECTION           */
/* ################################# */
.about {
    padding: 0 8vw;
    margin-top: 6vw;
    margin-bottom: 6vw;
    background-color: white;
    color: #1a1a1a;
    font-family: Arial, sans-serif;
}
.about__container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
}
.about__content {
    flex: 3 1 500px;
}
.about__title {
    font-size: var(--fz-3);
    margin-bottom: 1vw;
}
.about__text {
    font-size: 1rem;
    line-height: 180%;
    margin-bottom: 1rem;
}
.about__text a {
    color: var(--accent-color-hover);
    text-decoration: none;
}
.about__text a:hover {
    text-decoration: underline;
}
.about__stats {
    flex: 1 1 300px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}
.about__stat span {
    display: block;
    font-size: 28px;
    font-weight: bold;
    color: var(--accent-color-hover);
}
.about__stat p {
    margin-top: 4px;
    font-size: .875rem;
    color: var(--gray-dark);
}
@media (max-width: 768px) {
    .about__container {
        flex-direction: column;
        gap: 1rem;
    }
    .about__stats {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* ################################# */
/*           CONTACT FORM            */
/* ################################# */
.contact__form {
    padding: 4vw 8vw 0 8vw;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact__form textarea {
    width: 100%;
    min-height: 35vh;
    resize: none;
}
.contact__form .contact-col, .contact__process > *  {
    flex: 1;
}
.contact__form img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    margin-left: 2rem;
    border-radius: var(--border-1);
    overflow: hidden;
}
#contact-phone {
    position: relative;
}
#contact-phone::after {
    position: absolute;
    content: "";
    width: 3rem;
    height: 3rem;
    top: 0;
    left: 0;
}
.contact__process {
    display: flex;
    align-items: stretch;
    gap: var(--gap-1);
    margin-top: 1rem;
}
.contact-btn {
    flex: 1;
}


/* ################################# */
/*              FOOTER               */
/* ################################# */
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 4rem 8vw;
    color: var(--gray-dark);
    background-color: var(--bg-light);
    border-top: 1px solid var(--gray-light);
}
.footer > * {
    flex:  1 100%;
}
.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}
.footer__logo img {
    height: 3rem;
}
.footer__addr h2 {
    margin-top: 1.3em;
    margin-bottom: .3em;
    font-size: var(--fz-1);
    font-weight: 400;
    color: var(--accent-color);
}
.nav__title {
    font-weight: bold;
    font-size: var(--fz-1);
}
.footer address {
    font-style: normal;
    color: var(--text-color);
}
.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 8px;
    color: var(--gray-dark);
    line-height: 0;
    margin: 0.6em 0;
    font-size: var(--fz-1);
    padding: 0 1.3em;
}
.footer ul {
    list-style: none;
    padding-left: 0;
}
.footer li {
    line-height: 2em;
}
.footer a {
    text-decoration: none;
}
.footer__nav {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}
.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}
.nav__ul li {
    cursor: pointer;
}
.nav__ul a {
    color: var(--text-color);
    transition: color var(--transition-fast);
}
.nav__ul li:hover a {
    color: var(--accent-color);
}
.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}
.legal {
    display: flex;
    flex-wrap: wrap;
    color: var(--gray);
    margin-top: 1rem;
}
.legal__links {
    display: flex;
    align-items: center;
}
.heart {
    color: var(--gray-dark);
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}
@media screen and (min-width: 40.375em) {
    .footer__nav > * {
        flex: 1;
    }
    .nav__item--extra {
        flex-grow: 2;
    }
    .footer__addr {
        flex: 1 0;
    }
    .footer__nav {
        flex: 2 0;
    }
}





@media screen and (max-width: 768px) {
    .header__top .header__logo {
        width: 40%;
    }
    .header__top {
        padding: 1rem;
    }

    .header__phone,
    .header__chat,
    .search__container /* скрываем поиск */
    {
        display: none !important;
    }

    .header__icons {
        margin-left: auto;
    }

    .header__top .header__icons .burger.icon  {
        display: block;
    }

    .header .nav {
        display: none;
        flex-direction: column;
        align-items: start;
        gap: 0;
        padding: 0.5rem 1rem;
    }

    .header .nav a {
        padding: 0.75rem 0;
        border-bottom: 1px solid #eee;
        text-align: center;
        width: 100%;
    }
}





@media screen and (max-width: 1400px) {
    .contact__form textarea {
        min-height: 25vh;
    }
    .calc__banner {
        height: 16rem;
    }
    .header__top .search__container {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 1200px) {
    .contact__form textarea {
        min-height: 20vh;
    }
    .calc__banner {
        height: 14rem;
    }
    #services h2, .products h2, .contact__form h2, .about__title,
    .cart-section h2, .favorites-section h2 {
        font-size: var(--fz-2);
    }
    .about__stats {
        flex-basis: 250px;
    }
    .radio-label {
        width: 130px;
    }
}

@media screen and (max-width: 992px) {
    html, body {
        font-size: 13px;
    }
    .calc__banner {
        height: 19rem;
    }
    .contact__form textarea {
        min-height: 16vh;
    }
    .about__content {
        flex-basis: 400px;

    }
    .about__stats {
        flex-basis: 200px;
    }
    .services-card-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .header .nav {
        gap: .5rem;
    }
    .catalog .products__grid {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 768px) {
    .contact__form textarea {
        min-height: 12vh;
    }

    .products__grid, .products__grid.cart {
        grid-template-columns: 1fr 1fr;
    }

    .about {
        margin-bottom: 4rem;
    }

    .about__stats {
        flex-basis: 100px;
    }

    .about__content {
        flex-basis: auto;
    }

    .services-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    input[type="tel"], input[type="text"], input[type="email"], input[type="password"], textarea {
        padding: .5rem .8rem;
        font-size: .75rem !important;
    }

    .products__filters {
        gap: .5rem;
    }

    .contact__form {
        padding-bottom: 4rem;
    }

    .contact__form .contact-col {
        flex: auto;
        width: 100%;
    }

    .contact-col .contact__banner {
        display: none;
    }

    .mobile.swiper-container {
        display: block;
    }

    .desktop.swiper-container {
        display: none;
    }

    .swiper-slide img {
        border-radius: var(--border-1);
    }

    .calc__banner {
        height: auto;
    }

    .calc__banner .img-mobile {
        display: block;
    }

    .calc__banner .img-desktop {
        display: none;
    }

    .catalog__container {
        grid-template-columns: 1fr;
    }
    .radio-label {
        width: 125px;
    }
}

@media screen and (max-width: 576px) {
    html, body {
        font-size: 15px;
    }
    .services-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap-05);
    }

    #services h2, .products h2, .contact__form h2, .about__title,
    .cart-section h2, .favorites-section h2, .form-section h2 {
        font-size: var(--fz-2);
        width: 100%;
    }

    .products__filters {
        gap: var(--gap-05);
    }

    .products__grid, .products__grid.cart {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact__form textarea {
        min-height: 25vh;
    }

    .footer__logo img {
        height: 2rem;
    }
    .filter-radio {
        padding: .5rem;
    }
    .radio-label {
        width: 140px;
    }
    aside {
        display: none;
    }

    .catalog .products__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .products, .services, .cart-section, .favorites-section, .profile-section, .products__editor, .blog__editor {
        padding: 2rem 8vw;
    }
}

@media screen and (max-width: 360px) {
    font-size: 14px;
}

