{{define "cart-module"}}

<section id="cart" class="cart-section opened">
    <div style="display: flex; gap: 2rem; align-items: center; margin-bottom: 2rem;">
        <h2  id="cart-count">Корзина ({{ .response.Cart.Total}})</h2>
        {{if eq .response.Favorites.Total 0}}
        <button onclick="location.href='/catalog'" style="transform: translateY(.3rem)" class="accent-btn btn-standard">
            Перейти в каталог
        </button>
        {{else}}
        <button style="transform: translateY(.3rem)" class="accent-btn btn-standard">Перейти к оформлению</button>
        {{end}}
    </div>

    <div class="cart__container">
        <div class="products__grid cart">
            {{if eq .response.Cart.Total 0}}
            <div class="products-empty">
                <h4>В корзине пока пусто</h4>
                <p>Загляните в каталог — собрали там сплит-системы, которые могут вам подойти</p>
            </div>
            {{else}}
            {{ range .response.Cart.Items }}
            <div class="product-card" id="cart_{{.ID}}">
                <div class="product-thumb">
                    <span class="product-price">{{.Price}} ₽</span>
                    <img src="/web/static/img/primer.webp" class="product-img" alt="">
                </div>
                <div class="product-body">
                    <p class="product-title">{{.Title}}</p>
                    <div class="product-tags">
                        <span>{{.Type.Name}}</span>
                        <span>до {{.RecommendedArea}} м²</span>
                        <span>{{.MinNoiseLevel}} дБ</span>
                    </div>
                </div>
                {{if .InCart}}
                <button class="add-to-cart active" onclick="removeFromCart({{.ID}})">Убрать</button>
                {{end}}
            </div>
            {{end}}
            {{end}}

        </div>
    </div>
</section>

<hr style="margin: 0 8vw">

<section id="favorites" class="favorites-section opened">
    <div style="display: flex; gap: 2rem; align-items: center; margin-bottom: 2rem;">
        <h2 id="favorites-count">Избранное ({{.response.Favorites.Total}})</h2>
        {{if not (eq .response.Favorites.Total 0)}}
        <button onclick="location.href='/catalog'" style="transform: translateY(.3rem)" class="accent-btn btn-standard">
            Перейти в каталог
        </button>
        {{end}}
    </div>

    <div class="cart__container">
        <div class="products__grid cart">
            {{if eq .response.Favorites.Total 0}}
            <div class="products-empty">
                <h4>В избранном пока пусто</h4>
                <p>Добавляйте товары в избранное, чтобы не потерять их</p>
            </div>

            {{else}}
            {{ range .response.Favorites.Items }}
            <div class="product-card" id="favorites_{{.ID}}">
                <div class="product-thumb">
                    <button class="add-to-favorites active" onclick="removeFromFavorites({{.ID}})">♡</button>

                    <span class="product-price">{{.Price}} ₽</span>
                    <img src="/web/static/img/primer.webp" class="product-img" alt="">
                </div>
                <div class="product-body">
                    <p class="product-title">{{.Title}}</p>
                    <div class="product-tags">
                        <span>{{.Type.Name}}</span>
                        <span>до {{.RecommendedArea}} м²</span>
                        <span>{{.MinNoiseLevel}} дБ</span>
                    </div>
                </div>
                {{if not .InCart}}
                <button class="add-to-cart" onclick="addToCart(this, {{.ID}})">В корзину</button>
                {{end}}
            </div>
            {{end}}
            {{end}}
        </div>
    </div>
</section>

<script>
    function addToCart(thisBtn, id) {
        fetch("/api/cart", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({split_system_id: id})
        })
            .then(response => {
                if (!response.ok) throw new Error("Ошибка при добавлении");
                return response.json(); // если сервер возвращает JSON
            })
            .then(data => {
                const card = document.getElementById(`favorites_${id}`);
                if (card) {
                    // Клонируем карточку
                    const cloned = card.cloneNode(true);
                    cloned.id = `cart_${id}`;

                    // Меняем кнопку на "Убрать"
                    const button = cloned.querySelector('.add-to-cart');
                    button.textContent = "Убрать";
                    button.classList.add('active');
                    button.setAttribute('onclick', `removeFromCart(${id})`);
                    thisBtn.remove()
                    // Добавляем в корзину
                    const cartGrid = document.querySelector('#cart .products__grid');
                    cartGrid.appendChild(cloned);

                    // Показываем уведомление
                    updateCount('cart-count', 1);

                    showToast("", "Товар добавлен в корзину");
                }
            })
            .catch(err => {
                alert("Ошибка: " + err.message);
            });
    }

    function removeFromCart(id) {
        fetch(`/api/cart/${id}`, {
            method: "DELETE"
        })
            .then(response => {
                if (!response.ok) throw new Error("Ошибка при удалении из корзины");
                return response.json();
            })
            .then(data => {
                // Удалить карточку из корзины
                const cartCard = document.getElementById(`cart_${id}`);
                if (cartCard) {
                    cartCard.remove();
                }
                updateCount('cart-count', -1);

                // Если есть в избранном — добавить туда кнопку "В корзину"
                const favCard = document.getElementById(`favorites_${id}`);
                if (favCard) {
                    // Проверим, есть ли уже кнопка
                    let btn = favCard.querySelector('.add-to-cart');
                    if (!btn) {
                        // Создаём новую кнопку
                        btn = document.createElement('button');
                        btn.className = 'add-to-cart';
                        btn.textContent = 'В корзину';
                        btn.setAttribute('onclick', `addToCart(this, ${id})`);

                        favCard.appendChild(btn);
                    }
                }

                showToast("", "Товар удален из корзины");
            })
            .catch(err => {
                alert("Ошибка: " + err.message);
            });
    }


    function removeFromFavorites(id) {
        fetch(`/api/favorites/${id}`, {
            method: "DELETE"
        })
            .then(response => {
                if (!response.ok) throw new Error("Ошибка при удалении из избранного");
                return response.json();
            })
            .then(data => {
                updateCount('favorites-count', -1);
                document.getElementById(`favorites_${id}`).remove()
                showToast("", "Товар удален из избранного");
            })
            .catch(err => {
                alert("Ошибка: " + err.message);
            });
    }

    function updateCount(id, delta) {
        const el = document.getElementById(id);
        if (!el) return;

        const match = el.textContent.match(/\d+/);
        if (match) {
            const current = parseInt(match[0]);
            const updated = current + delta;
            el.textContent = el.textContent.replace(/\(\d+\)/, `(${updated})`);
        }
    }

</script>
{{end}}