{{define "contact-form"}}
<section id="contact-us" class="contact__form">
    <h2>Оставить заявку</h2>
    <div class="contact-col">
        <textarea name="message" id="contact-text" cols="30" rows="auto" placeholder="Ваше сообщение"></textarea>
        <div class="contact__process">
            <input id="contact-phone" type="tel" placeholder="Телефон">
            <button class="contact-btn accent-btn">Отправить</button>
        </div>
    </div>
    <div class="contact-col">
        <img class="contact__banner" src="/web/static/img/contact-banner.jpg" alt="">
    </div>
</section>
{{end}}}