{{define "footer"}}
    <footer class="footer">
        <div class="footer__addr">
            <h1 class="footer__logo"><img src="/web/static/img/logo.png" alt="ClimateHome"></h1>

            <h2>Контакты:</h2>

            <address>
                Республика Башкортостан, г. Уфа<br>

                <a class="footer__btn" href="mailto:example@gmail.com">Написать</a>
            </address>
        </div>

        <ul class="footer__nav">
            <li class="nav__item">
                <h2 class="nav__title">Навигация</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="/catalog">Каталог</a>
                    </li>

                    <li>
                        <a href="/catalog#popular">Популярные товары</a>
                    </li>

                    <li>
                        <a href="/#services">Услуги</a>
                    </li>

                    <li>
                        <a href="/blog">Блог</a>
                    </li>
                </ul>
            </li>

            <li class="nav__item">
                <h2 class="nav__title">Личный кабинет</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="/profile">Профиль</a>
                    </li>

                    <li>
                        <a href="/cart">Корзина</a>
                    </li>

                    <li>
                        <a href="/cart#favorites">Избранное</a>
                    </li>
                </ul>
            </li>


            <li class="nav__item">
                <h2 class="nav__title">Другая информация</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="/policy" target="_blank">Политика конфиденциальности</a>
                    </li>

                    <li>
                        <a href="/offer" target="_blank">Пользовательское соглашение</a>
                    </li>

                    <li>
                        <a href="/contact">Контакты</a>
                    </li>

                </ul>
            </li>
        </ul>

        <div class="legal">
            <p>&copy; 2025 «ClimateHome.online». Все права защищены.</p>

            <div class="legal__links">
                <span>Разработка сайта <span class="heart">Назар Турупкулов</span></span>
            </div>
        </div>
    </footer>
{{end}}}