{{define "footer"}}
<footer class="footer">
    <div class="footer__addr">
        <h1 class="footer__logo">Сплит-системы</h1>

        <h2>Контакты</h2>

        <address>
            Республика Башкортостан, г. Уфа<br>

            <a class="footer__btn" href="mailto:example@gmail.com">Написать</a>
        </address>
    </div>

    <ul class="footer__nav">
        <li class="nav__item">
            <h2 class="nav__title">Навигация</h2>

            <ul class="nav__ul">
                <li>
                    <a href="/#main">О проекте</a>
                </li>

                <li>
                    <a href="/starter-kit">Стартовый набор</a>
                </li>

                <li>
                    <a href="/#courses">Каталог курсов</a>
                </li>
            </ul>
        </li>

        <li class="nav__item">
            <h2 class="nav__title">Навигация</h2>

            <ul class="nav__ul">
                <li>
                    <a href="/#main">О проекте</a>
                </li>

                <li>
                    <a href="/starter-kit">Стартовый набор</a>
                </li>

                <li>
                    <a href="/#courses">Каталог курсов</a>
                </li>
            </ul>
        </li>

        <li class="nav__item">
            <h2 class="nav__title">Юридическая информация</h2>

            <ul class="nav__ul">
                <li>
                    <a href="/policy" target="_blank">Политика конфиденциальности</a>
                </li>

                <li>
                    <a href="/offer" target="_blank">Пользовательское соглашение</a>
                </li>

            </ul>
        </li>
    </ul>

    <div class="legal">
        <p>&copy; 2025 «Сплит-системы». Все права защищены.</p>

        <div class="legal__links">
            <span>Разработка сайта <span class="heart">Неизвестно</span></span>
        </div>
    </div>
</footer>
{{end}}}