{{define "header"}}
<header class="header">
    <div class="header__top">
        <a href="/" class="header__logo"><img src="/web/static/img/logo.png" alt="ClimateHome"></a>
        <a href="tel:+79008005510" class="header__phone">+7 (900) 800 55-10</a>
        <div class="search__container">
            <div class="icon">
                <svg viewBox="0 0 24 24"><use xlink:href="/web/static/icons/iconpack.svg#icon-search"></use></svg>
            </div>
            <input type="search" placeholder="Поиск" class="header__search" />
        </div>
        <a id="openChatBtn" class="header__chat">
            <div class="icon">
                <svg viewBox="0 0 24 24"><use xlink:href="/web/static/icons/iconpack.svg#icon-chat"></use></svg>
            </div>
            Онлайн-чат
        </a>
        <div class="header__icons">
            <a class="icon" onclick="openAuthModal('login')">
                <svg viewBox="0 0 24 24"><use xlink:href="/web/static/icons/iconpack.svg#icon-user"></use></svg>
            </a>
            <a class="icon">
                <svg viewBox="0 0 24 24"><use xlink:href="/web/static/icons/iconpack.svg#icon-cart"></use></svg>
            </a>
        </div>
    </div>
    <nav class="nav">
        <a href="/catalog">Каталог продукции</a>
        <a href="/catalog/#">Кондиционеры</a>
        <a href="/catalog/#">Скидки</a>
        <a href="/blog">Блог</a>
        <a href="/contact">Контакты</a>
        <a href="/contact">Гарантия</a>
        <a href="/cart#">Мое избранное</a>
    </nav>
</header>
{{end}}}