{{define "popular-products"}}
<section id="popular" class="popular products">
    <h2>Популярные сплит-системы</h2>

    <div class="products__filters">
        <label class="filter-radio">
            <input type="radio" name="popular-filter" param1="has_inverter" value1="1" checked>
            <span class="radio-label">Инверторные</span>
        </label>
        <label class="filter-radio">
            <input type="radio" name="popular-filter" param1="has_inverter" value1="0">
            <span class="radio-label">Неинверторные</span>
        </label>


        <label class="filter-radio">
            <input type="radio" name="popular-filter" param1="energy_class_cooling" value1="2">
            <span class="radio-label">Энергоэффективные</span>
        </label>

        <label class="filter-radio">
            <input type="radio" name="popular-filter" param1="min_noise_level_min" param2="min_noise_level_max"
                   value1="0" value2="29">
            <span class="radio-label">Тихие</span>
        </label>
    </div>

    {{if not .isAuthenticated}}
        <div class="hint-block">
            <div class="hint-icon">ⓘ</div>
            <div class="hint-text">
                <strong>Зарегистрируйтесь или войдите в аккаунт.</strong> Чтобы добавить товар в корзину, необходимо авторизоваться.
            </div>
            <div class="hint-close" onclick="this.parentElement.style.display='none'">×</div>
        </div>
    {{end}}

    <div class="products__grid" id="popular_products__grid"></div>
</section>


<script>
    function loadPopular() {
        const selectedSort = document.querySelector('input[name="popular-filter"]:checked');
        const sortParams = new URLSearchParams()
        if (selectedSort) {
            const attr1 = selectedSort.getAttribute("param1")
            const attr2 = selectedSort.getAttribute("param2")

            sortParams.append(attr1, selectedSort.getAttribute("value1"));
            if (attr2) {
                sortParams.append(attr2, selectedSort.getAttribute("value2"));
            }
        }
        const fullUrl = "/api/split-systems?sort=rating_desc&" + sortParams.toString();


        console.log("Загрузка с фильтрами:", fullUrl);
        fetch(fullUrl)
            .then(response => {
                if (!response.ok) throw new Error('Ошибка загрузки');
                return response.json();
            })
            .then(data => {
                console.log("Ответ с сервера:", data);

                const container = document.getElementById('popular_products__grid');
                container.innerHTML = '';
                const products = data.items

                if (!products.length) {
                    container.innerHTML = '<p>Ничего не найдено по выбранным фильтрам.</p>';
                    return;
                }
                const isAuthenticated =  {{.isAuthenticated }} === true
                for (let i = 0; i < 8 && i < products.length; i++) {
                    const product = products[i]
                    const card = document.createElement('div');
                    card.className = 'product-card';

                    const img = product.images?.[0]?.image_url || '/web/static/img/primer.webp';
                    card.innerHTML = `
                    <div class="product-thumb">
                        ${isAuthenticated ? `<button class="${product.in_favorites ? 'add-to-favorites active' : 'add-to-favorites'}" onclick="${product.in_favorites ? `removeFromFavorites(this, ${product.id}); event.stopPropagation();` : `addToFavorites(this, ${product.id}); event.stopPropagation();`} ">♡</button>` : ''}
                        <span class="product-price">${formatPrice(product.price)} ₽</span>
                        <img src="${img}" class="product-img" alt="${product.brand?.name || ''}">
                    </div>
                    <div class="product-body">
                        <p class="card-product-title">${product.title}</p>
                        <div class="product-tags">
                            <span>${product.type?.name || ''}</span>
                            <span>до ${product.recommended_area} м²</span>
                            <span>${product.min_noise_level} дБ</span>
                        </div>
                    </div>
                    ${isAuthenticated ? `<button class="${product.in_cart ? 'add-to-cart active' : 'add-to-cart'}" onclick="${product.in_cart ? `removeFromCart(this, ${product.id}); event.stopPropagation();` : `addToCart(this, ${product.id}); event.stopPropagation();`} ">${product.in_cart ? 'Уже в корзине' : 'В корзину'}</button>` : ''}
                `;
                    container.appendChild(card);
                }
            })
            .catch(err => {
                console.error("Ошибка:", err);
            });
    }

    document.addEventListener("DOMContentLoaded", () => {
        loadPopular()
    })
</script>

<script>
    document.querySelectorAll('input[name="popular-filter"]').forEach(radio => {
        radio.addEventListener('change', () => {
            loadPopular();
        });
    });


    function addToCart(button, id) {
        fetch("/api/cart", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ split_system_id: id })
        })
            .then(response => {
                if (!response.ok) throw new Error("Ошибка при добавлении");
                return response.json(); // если сервер возвращает JSON
            })
            .then(data => {
                button.classList.add("active");
                button.textContent = "Уже в корзине";
                showToast("", "Товар добавлен в корзину");
                button.setAttribute("onclick", `removeFromCart(this, ${id}); event.stopPropagation();`);
            })
            .catch(err => {
                alert("Ошибка: " + err.message);
            });
    }
    function removeFromCart(button, id) {
        fetch(`/api/cart/${id}`, {
            method: "DELETE"
        })
            .then(response => {
                if (!response.ok) throw new Error("Ошибка при удалении из корзины");
                return response.json();
            })
            .then(data => {
                button.classList.remove("active");
                button.textContent = "В корзину";
                showToast("", "Товар удален из корзины");
                button.setAttribute("onclick", `addToCart(this, ${id}); event.stopPropagation();`);
            })
            .catch(err => {
                alert("Ошибка: " + err.message);
            });
    }


    function addToFavorites(button, id) {
        fetch("/api/favorites", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ split_system_id: id })
        })
            .then(response => {
                if (!response.ok) throw new Error("Ошибка при добавлении в избранное");
                return response.json(); // если сервер возвращает JSON
            })
            .then(data => {
                button.classList.add("active");
                showToast("", "Товар добавлен в избранное");
                button.setAttribute("onclick", `removeFromFavorites(this, ${id}); event.stopPropagation();`);
            })
            .catch(err => {
                alert("Ошибка: " + err.message);
            });
    }
    function removeFromFavorites(button, id) {
        fetch(`/api/favorites/${id}`, {
            method: "DELETE"
        })
            .then(response => {
                if (!response.ok) throw new Error("Ошибка при удалении из избранного");
                return response.json();
            })
            .then(data => {
                button.classList.remove("active");
                showToast("", "Товар удален из избранного");
                button.setAttribute("onclick", `addToFavorites(this, ${id}); event.stopPropagation();`);
            })
            .catch(err => {
                alert("Ошибка: " + err.message);
            });
    }
</script>
{{end}}